{% extends "::base.html.twig" %}

{% block title %}{{ category.name }}{% endblock %}

{% block body %}
    <h3>Category: {{ category.name }}</h3>
    {% if categories|length %}
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">NAME</th>
            </tr>
            </thead>
            <tbody>
            {% for item in categories %}
                <tr>
                    <th scope="row">{{ item.id }}</th>
                    <td>
                        {% if category.id == item.id %}
                            {{ item.name }}
                        {% else %}
                            <a href="{{ path('product_category', {'category': item.id}) }}">
                                {{ item.name }}
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <h3>Products: </h3>
        {% include':product:table.html.twig' with {'items': category.products} %}
    {% endif %}
{% endblock %}

