<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/app/css/style.css') }}"/>
    <title>{% block title %}Welcome!{% endblock %}</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('sonata_admin_dashboard') }}">Admin panel</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('homepage') }}">Products</a>
            </li>
        </ul>
    </div>
</nav>
<main role="main" class="container">
    {% block body %}{% endblock %}
</main>
</body>
</html>


