{% extends 'base.html.twig' %}

{% block body %}
    {% if pagination.items|length %}
        {% include':product:table.html.twig' with {'items': pagination.items} %}
        <div class="navigation">
            {{ knp_pagination_render(pagination, '@KnpPaginator/Pagination/twitter_bootstrap_v4_pagination.html.twig') }}
        </div>
    {% endif %}
{% endblock %}


