{% if items|length %}
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">#</th>
            <th scope="col">NAME</th>
            <th scope="col">CATEGORIES</th>
        </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <th scope="row">{{ item.id }}</th>
                <td>{{ item.name }}</td>
                <td>
                    {% if item.categories|length %}
                        {% for category in item.categories %}
                            <a href="{{ path('product_category', {'category': category.id}) }}">{{ category.name }}</a>
                            {% if not loop.last %},{% endif %}
                        {% endfor %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
